h1, p, .btn {
  text-align: start;
  display: block;
}

.div {
  height: 90px;
}

.car {
  height: 100;
  width: 100%;
}

.footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
